body {
    margin: 0;
    padding: 0;
}

#windows-desktop {
    width: 100%;
    height: 100vh;
    background-image: url("fonditoxd.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
}


/* Estilo para la barra de tareas :V */
#windows-taskbar {
    display: flex;
    align-items: center;
    background-color: #101010;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
}

.taskbar-it {
    padding-right: 5px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    
}

.taskbar-item {
    margin-left:auto; 
    padding-right: 15px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    
}


.taskbar-icon{
        width: 130px;;
        height:min-content;
        margin-inline-start: auto; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 12px;
        grid-row-gap: 1px;
        }
    
.taskbar-icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.taski {

    cursor: pointer;

}


#windows-icons {
    position:absolute;
    top: 30px;
    left: 40px;
    right: auto;
    bottom: 80px;
    display:grid;
    text-align: center;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    grid-template-columns:repeat(1, 0.1fr);
    grid-template-rows: repeat(6, 0.5fr);
    grid-column-gap: 1px;
    grid-row-gap: 10px;
    justify-items: center;
    justify-content: flex-start;
    align-content:center;

}

.desktop-icon {
    width: 52px;
    height: 52px;
    cursor: pointer;
}


.desktop-icon img {
    width: 100%;
    height: 100%;

}

/* Estilos para la sección del clima en la barra de herramientas */
#weather-info {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
}

/* Estilos para el icono climático */
#weather-icon {
    width: 20px; /* Ajusta el tamaño según tus necesidades */
    height: 20px; /* Ajusta el tamaño según tus necesidades */
    margin-right: 10px;
}

/* Estilos para la descripción del clima y la ubicación */
#weather-description {
    font-weight: bold;
}

#weather-location {
    margin-left: 10px;
}



